/* ΔΙΑΜΌΡΦΩΣΗ ΦΟΡΜΑΣ ΕΠΙΚΟΙΝΩΝΙΑΣ */
.contactDiv {
    position: relative;
    top: 0;
    width: 340px;
	border: solid 2px;
	border-radius: 20px;
	background-color: lightgray;
	padding: 50px 30px 50px 30px;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    /* height: fit-content; */
}

.contactDiv div {
    position: relative;
    top: 0;
    font-size: large;
    background-color: lightblue;
    border: 1px solid blue;
    border-radius: 7px;
    padding-left: 5%;
}

.contactDiv p {
    position: relative;
}
/* Διαμόρφωση Κεφαλίδας3 (h3)*/
.contactDiv h3 {
    top: 0ch;
    left: 0ch;
    text-align: center;
}

/* Διαμόρφωση πλαισίων Εισαγωγής (input)*/
.contactDiv input {
    width: 30ch; /* Σταθερό μήκος σε χαρακτήρες */
    top: 0ch;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    border-radius: 5px;
}
.contactDiv button {
    position: relative;
    top: 50%;
    font-size: medium;
    width: 31ch;
}

/* Διαμόρφωση πλαισίου Εισαγωγής Μηνύματος (textarea)*/
.contactDiv textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    width: 30ch; /* Σταθερό μήκος σε χαρακτήρες */
    left: 0ch; /* Σταθερή θέση από αριστερά του div */
    border-radius: 5px;
    resize: none;
}
.contactDiv textarea + span {
    position: relative;
}
  
.contactDiv textarea + span::before {
    position: relative;
    right: -10px;
    top: -65px;
}
  
.contactDiv textarea:invalid {
    border: 2px solid red; /* το border είναι 2 στα άλλα spans. εδώ θέλει έλεγχο */
    /* border: 2px solid red; το border είναι 2 στα άλλα spans. εδώ θέλει έλεγχο */
}
  
.contactDiv textarea:invalid + span::before {
    content: '✖';
    color: red;
}
  
.contactDiv textarea:valid + span::before {
    content: '✓';
    color: green;
}

.contactDiv textarea:valid {
    border-color: green;
    /* border: 2px solid; */
}

/* Νεότερη μορφοποίηση εμφάνισης υποχρεωτικών πεδίων */
.contactDiv input + span {
    position: relative;
}
  
.contactDiv input + span::before {
    position: relative;
    right: -10px;
    /* top: 5px; */
}
  
.contactDiv input:invalid {
    border: 2px solid red;
}
  
.contactDiv input:invalid + span::before {
    content: '✖';
    color: red;
}

.contactDiv input:valid + span::before {
    content: '✓';
    color: green;
}

/* Αρχική μορφοποίηση εμφάνισης υποχρεωτικών πεδίων - ΑΝ ΔΙΑΓΡΑΦΟΥΝ ΤΑ ΠΑΡΑΚΑΤΩ ΤΑ ΠΛΑΙΣΙΑ ΚΕΙΜΕΝΟΥ ΓΙΝΟΝΤΑΙ ΛΕΥΚΑ*/
.contactDiv input:invalid {
    background-color: lightpink;
}
.contactDiv input:valid {
    background-color: white;
    border-color: green;
}

.contactDiv textarea:invalid {
    background-color: lightpink;
}
.contactDiv textarea:valid {
    background-color: white;
}


  /* ΔΕΝ ΧΡΕΙΑΖΕΤΑΙ */
/* .contactDiv input[type=submit] {
    width: 31ch;
    left: 0;
    top: 13ch;
} */

/* Διαμόρφωση γενικών ετικετών (label)*/
/* .contactDiv label {
    color: red;
}

.contactDiv .requiredFieldFilled {
    color: black;
}
*/
/*
.contactDiv #sentMessage {
    top: 0ch;
    left: 0ch;
    background: blue;
}
*/
/* Διαμόρφωση πλαισίου (span)*/
/* .contactDiv.textLengthInfo span { 
    position: relative;
    font-size: small;
    left: 80%; */
    /* ΗΤΑΝ...
    left: 83%;
    ...ΕΓΙΝΕ ΑΛΛΑΓΗ ΕΠΕΙΔΗ ΔΕΝ ΦΑΙΝΟΤΑΝ ΚΑΛΑ ΣΕ FIREFOX-LINUX */
/* } */
/* .contactDiv messageSent {
    font-size: xx-large;
    font-style: oblique;
} */

