body {
    background-color: gray;
    width: 99%;
}

h1 {
    color: black;
}

.topDiv {
	width: max-content;
	height: 50px;
	display:inline-flex;
	flex-wrap: wrap;
	align-content: center;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 0px 15px 15px 15px;
	background-color: lightgray;
}
.topDiv h2 {
    color: blue;
}
.common {
	padding: 0px;
	margin: 2px;
}
.common p {
	font-size: larger;
	width: fit-content;
    font-size: larger;
	border: solid 2px;
	margin: 5px;
	border-radius: 0px 15px 15px 15px;
	background-color: lightgray;
	padding: 10px 30px 10px 30px;
}
.common a {

}
.common div {

}
/* .common span {

} */
.bottomDiv {
	position: fixed;
	width: 97%;
	height: 47px;
	bottom: 25px;
	padding-left: 15px;
	padding-right: 10px;
}
/* ΔΙΑΜΌΡΦΩΣΗ ΚΕΝΤΡΙΚΟΥ ΜΕΝΟΥ ΕΠΙΛΟΓΩΝ */
.tabs {
	float:left;
    position: relative;
	width:98%;
	background:rgb(255, 185, 160);
	font-size:200%;
	/* border-radius: 15px; */
	border-radius: 0px 15px 15px 15px;
    border-top: 1px solid blue;;
	border-bottom: 1px solid blue;
	padding: 10px 20px 5px 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.tabs ul {
	padding:10px 10px 0 50px;
	list-style:none;
}

.tabs li {
	display:inline;
}

.tabs a {
	float:left;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
	display:flex;
	padding: 5px 30px 5px 50px;
	color:darkgreen;
}

 .tabs a span {
	float: none;
	display:flex;
	padding: 5px 5px 5px 5px;
	color:darkgreen;
}

.tabs a:hover span {
	color: darkblue;
    left:  100px;
}
/* ΔΙΑΜΌΡΦΩΣΗ ΜΙΚΡΟΤΕΡΟΥ ΜΕΝΟΥ ΕΠΙΛΟΓΩΝ */
.smallerTabs {
	float:left;
	top: 0;
	width:98%;
	background:rgb(255, 185, 160);
	font-size:150%;
	border-radius: 0pc 7px 7px 7px;
    border-top: 1px solid blue;;
	border-bottom:1px solid blue;
	margin:3px 0 0 0;
}

.smallerTabs ul {
	margin:0;
}

.smallerTabs li {
	display:inline;
}

.smallerTabs a {
	float:left;
	padding: 5px 30px 5px 0px;
	text-decoration:none;
}

.smallerTabs a span {
	float: none;
	display:flex;
	padding: 5px 50px 5px 35px;
	color:darkgreen;
}

.smallerTabs a:hover span {
	color: darkblue;
}
